.Footersection {
    background-color: rgba(244, 245, 247, 0.5); 
    border-radius: 5%;
}

@media screen and (max-width: 576px){
    .groupicontext{
        margin-right: auto;
        margin-left: 55px;
    }
}