/* Category.css */

.img1, .img2, .img3 {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .img3 {
    height: 500px;
  }
  
  .svg {
    color: #EC4899;
  }
  
  @media screen and (max-width: 576px) {
    .img2 {
      object-fit: cover;
      width: 350px;
      height: auto;
    }
  }
  
.slanted-text {
    top: 62%;
    position: absolute; 
    transform: translateY(-50%) rotate(-90deg); 
    transform-origin: left center;
    background-color: white;
    color: #EC4899;
    z-index: 100; 
  }
  
  .slanted-text span{
    font-size: 22px;
    font-weight: 500;
  }
  
  /* Show More button */
  .show-more-btn {
    background-color: #EC4899;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
  }
  
  .show-more-btn:hover {
    background-color: #E6BB39;
  }

  @media (max-width: 600px) {
    .slanted-text {
      top: 1%; /* Adjust the top positioning */
      left: 50%; /* Center horizontally */
      transform: translateX(-50%) translateY(0) rotate(0deg); /* Remove rotation and align center */
      transform-origin: center center;
      width: 100%;
      text-align: center;
    }
  }