.img1{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.img2{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.img3{
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.svg{
    color: #EC4899;
}

@media screen and (max-width: 576px){
    .img2{
        object-fit: cover;
        width: 350px;
        height: auto;
    }
}