.kidcategorysection{
  background-color: rgba(226, 228, 255, 0.5); /* Use RGBA to control the opacity of the background color */
  border-radius: 5%;
}


.kidscards{
  z-index: 1000;
}

.img1, .img2, .img3 {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .img3 {
    height: 500px;
  }
  
  /* .svg {
    color: #0000;
    border: 3px solid green;
  } */
  
  @media screen and (max-width: 576px) {
    .img2 {
      object-fit: cover;
      width: 350px;
      height: auto;
    }
  }
  
.slanted-text {
    top: 62%;
    position: absolute; 
    transform: translateY(-50%) rotate(-90deg); 
    transform-origin: left center;
    background-color: transparent;
    color: #EC4899;
    z-index: 100; 
  }
  
  .slanted-text span{
    font-size: 22px;
    font-weight: 500;
  }

  .icon svg{
    color: black;
  }
  
  /* Show More button */
  .show-more-btn {
    background-color: #EC4899;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
  }
  
  .show-more-btn:hover {
    background-color: #E6BB39;
  }
  