.kidcategorysection {
  background-color: rgba(226, 228, 255, 0.5); 
  border-radius: 5%;
}

.kidscards {
  z-index: 1000;
}

.img1, .img2, .img3 {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.img3 {
  height: 500px;
}

@media screen and (max-width: 576px) {
  .img2 {
    object-fit: cover;
    width: 350px;
    height: auto;
  }
}

.slanted-text {
  top: 62%;
  position: absolute; 
  transform: translateY(-50%) rotate(-90deg); 
  transform-origin: left center;
  background-color: transparent;
  color: #EC4899;
  z-index: 100; 
}

.slanted-text span {
  font-size: 22px;
  font-weight: 500;
}

.icon svg {
  color: black;
}

.show-more-btn {
  background-color: #EC4899;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
}

.show-more-btn:hover {
  background-color: #D81B60;
}

@media (max-width: 600px) {
  .slanted-text {
    top: 1%;
    left: 50%; 
    transform: translateX(-50%) translateY(0) rotate(0deg); /* Remove rotation and align center */
    transform-origin: center center;
    width: 100%;
    text-align: center;
  }
}
