.hero{
    height: 100vh;
    display: flex;
}

.dolz{
    color: #EC4899;
}

.native-image-pattern{
    height: 550px;
    width: 100%;
}

/* @media screen and (max-width: 768px){
    .hero{
        padding-top: 12px;
        border: 3px solid red;
    }
} */

@media screen and (max-width: 576px) and (min-width: 1px){
    .reverse{
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }
    .group{
        margin-left: auto;
        margin-right: auto;
    }
    .heroheader{
        font-size: 1.9rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .herotext{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
}