.hero{
    height: 100vh;
    display: flex;
}

.dolz{
    color: #EC4899;
}

.native-image-pattern{
    height: 550px;
    width: 100%;
}

@media screen and (max-width: 576px){
    .reverse{
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }
}